doctype html
html(lang="ru-RU")
	include includes/head
	body
		include includes/header
		main.main
			.container
				img(src="img/ipsum.jpg", alt="").img-responsive

		include includes/footer
		//- Подключение скриптов
		include includes/scripts